<style>
    html, body {
    top: 50px;
    width: 100%;
    height: 100%;
    padding-right: 10px;
    }

    #ruedappmap {
    width: 100%;
    min-height: 300px;
    }

    .footer {
    position: absolute;
    top: 400px;
    width: 100%;
    height: 35px;
    }
</style>
<div class="container-fluid">
    <div class="row" ng-init="consultaNotificaciones();">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}
            </uib-alert>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4 ruedapps-inicio-cols" ng-controller="recorridoController">
            <div class="row">
                <h2>Rutas</h2>

                <div><a href="#">Más >></a></div>
                <leaflet id="ruedappmap" defaults="defaults"></leaflet>
                <div class="footer" ng-init="loadmap()">
                    <b>Recorrido</b>
                    <button class="btn btn-default" ng-hide="hideRecorrido" ng-click="iniciarecorrido()">Iniciar
                    </button>
                    <button class="btn btn-default" ng-hide="hideHistorico" ng-click="guardahistorico()">Terminar
                    </button>
                    <br>
                    <br>

                    <button ng-show="provider" class="btn btn-block btn-social btn-{{provider}}" ng-click="compartir()">
                        <span class="fa fa-{{provider}}"></span>Compartir en {{provider}}
                    </button>

                </div>
            </div>
            <br/>
            <br/>
            <br/>
            <hr/>

            <div class="row">
                <h2>Servicios Cercanos</h2>

                <div class="form-group" ng-if="serviciosCercanos.length <= 0">
                    <h4><font color="orange">No hay servicios cercanos</font></h4>
                </div>

                <div class="form-group" ng-repeat="servicioCercano in serviciosCercanos">
                    <h4>- {{servicioCercano.nombre}}</h4>
                </div>
            </div>

        </div>

        <div class="col-md-4 ruedapps-inicio-cols">
            <div class="row" ng-controller="mensajeController" ng-init="consultaAmigos(); llenarSelectableAmigos();">
                <h2>Amigos</h2>

                <div class="col-md-5">
                    <form name="frmEnviar" role="form">
                        <div class="form-group" required>
                            <label for="destinatario">Para:</label>

                            <p class="input-group col-md-12">
                                <select name="destinatario" ng-model="mensajeInfo.destinatarioCompleto"
                                        class="form-control" id="destinatario"
                                        ng-options="amigo as amigo.nombres for amigo in amigos">
                                </select>
                            </p>
                        </div>

                        <div class="form-group" required>
                            <label for="mensaje">Mensaje:</label>
                            <textarea name="mensaje" ng-model="mensajeInfo.mensaje" class="form-control" id="mensaje"
                                      placeholder="Ingrese mensaje"></textarea>
                        </div>
                        <button id="btnEnviar" type="submit" class="btn btn-info center-block"
                                ng-click="enviarMensaje()"
                                disabled>Enviar
                        </button>
                    </form>
                </div>
                <div class="col-md-5">
                    <div class="form-group" required>
                        <label for="mensajesRecibidos">Mensajes recibidos:</label>
                            <textarea id="mensajesRecibidos" class="form-control"
                                      placeholder="Mensajes recibidos"></textarea>
                    </div>

                    <div class="row text-center">
                        <form name="frmRecibidos" role="form" ng-controller="mensajeController">
                            <button id="btnConectar" type="button"
                                    class="btn btn-info center-block ruedapps-inline-block" ng-click="conectar()">
                                Conectar
                            </button>
                            <button id="btnDesconectar" type="button"
                                    class="btn btn-info center-block ruedapps-inline-block" ng-click="desconectar()"
                                    disabled>Desconectar
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <br/>
            <hr/>

        </div>
    </div>
</div>
