@font-face {
    font-family: BootstrapGlyphicons;
    src: url(../fonts/glyphicons-halflings-regular.woff);
}

img {
    width: 80%;
}

.ruedapps-container-gray {
    background-color: #eee;
}

.ruedapps-glyphicons {
    font-size: 10em;
    padding: 0 1em;
}

.ruedapps-inline-block {
    display: inline-block;
}

.ruedapps-navbar-item {
    margin: 0.7em;
}

#ruedapps-navbar {
    background-color: #0078A8;
    height: 4em;
}

.margin-top-navbar{
    margin-top: 5rem;
}

.ruedapps-selectable {
    list-style-type: none;
    border: solid 1px #adadad;
    border-radius: 1rem;
    padding: 0 !important;
}

.ruedapps-selectable li {
    margin: 0.4rem;
    padding-left: 2rem !important;
    height: 2rem;
    border-radius: 1rem;
}

.ruedapps-selectable ol {
    margin: 0;
    padding: 0 !important;
}

.ruedapps-selectable .ui-selecting {
    background: #fbec88;
}

.ruedapps-selectable .ui-selected {
    background: #ffaf0f;
    color: white;
}