@font-face {
    font-family: BootstrapGlyphicons;
    src: url(../fonts/glyphicons-halflings-regular.woff);
}

img {
    width: 80%;
}

.ruedapps-container-gray {
    background-color: #eee;
}

.ruedapps-glyphicons {
    font-size: 10em;
    padding: 0 1em;
}

.ruedapps-inline-block {
    display: inline-block;
}

.ruedapps-navbar-item {
    margin: 0.7em;
}

#ruedapps-navbar {
    background-color: #0078A8;
    height: 4em;
}

.margin-top-navbar{
    margin-top: 5rem;
}
