<div class="container-fluid">
    <div class="row text-center">
        <h1>Mis Amigos</h1>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div>
                <h2>Amigos</h2>
                <ol class="ruedapps-selectable" id="ruedapps-selectable-amigos">
                    <li class="ui-widget-content">Item 1</li>
                    <li class="ui-widget-content">Item 2</li>
                    <li class="ui-widget-content">Item 3</li>
                    <li class="ui-widget-content">Item 4</li>
                    <li class="ui-widget-content">Item 5</li>
                    <li class="ui-widget-content">Item 6</li>
                    <li class="ui-widget-content">Item 7</li>
                </ol>
                <button type="submit" class="btn btn-default center-block">Eliminar</button>
            </div>
            <br/>
            <br/>
            <div>
                <h2>Otros Ciclistas</h2>
                <ol class="ruedapps-selectable" id="ruedapps-selectable-ciclistas">
                    <li class="ui-widget-content">Item 1</li>
                    <li class="ui-widget-content">Item 2</li>
                    <li class="ui-widget-content">Item 3</li>
                    <li class="ui-widget-content">Item 4</li>
                    <li class="ui-widget-content">Item 5</li>
                    <li class="ui-widget-content">Item 6</li>
                    <li class="ui-widget-content">Item 7</li>
                </ol>
                <button type="submit" class="btn btn-info center-block" ng-click="agregarAmigo()">Agregar</button>
            </div>
        </div>
    </div>
</div>