<div class="container-fluid">
    <div class="row text-center">
        <h1>Enviar Mensaje</h1>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <p>Aquí verá los mensajes enviados por otros ciclistas.</p>
            <br/>

            <div class="form-group" required>
                <textarea id="mensajesRecibidos" class="form-control" placeholder="Mensajes recibidos"></textarea>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <form name="frmRecibidos" role="form" ng-controller="mensajeController">
                    <button id="btnConectar" type="button" class="btn btn-info center-block ruedapps-inline-block" ng-click="conectar()">Conectar</button>
                    <button id="btnDesconectar" type="button" class="btn btn-info center-block ruedapps-inline-block" ng-click="desconectar()" disabled>Desconectar</button>
                </form>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    <br/>
    <hr/>
    <br/>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <p>Llene esta forma para enviar su mensaje.</p>

            <form name="frmEnviar" role="form" ng-controller="mensajeController">
                <div class="form-group" required>
                    <label for="destinatario">Para:</label>
                    <input name="destinatario" ng-model="mensajeInfo.destinatario" type="email" class="form-control" id="destinatario" placeholder="Ingrese usuario">
                </div>

                <div class="form-group" required>
                    <label for="mensaje">Mensaje:</label>
                    <textarea name="mensaje" ng-model="mensajeInfo.mensaje" class="form-control" id="mensaje" placeholder="Ingrese mensaje"></textarea>
                </div>
                <button id="btnEnviar" type="submit" class="btn btn-info center-block" ng-click="enviarMensaje()"
                        disabled>Enviar
                </button>
            </form>
            <br/>
        </div>
    </div>
</div>