<div class="container-fluid">
    <div class="row text-center">
        <h1>Enviar Mensaje</h1>
    </div>
    <br/>
    <br/>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <p>Llene esta forma para enviar su mensaje.</p>
            <form name="form" role="form" ng-controller = "mensajeController">
                <div class="form-group" required>
                    <label for="destinatario">Para:</label>
                    <input name="destinatario" ng-model="mensajeInfo.destinatario" type="email" class="form-control" id="destinatario" placeholder="Ingrese usuario">
                </div>
                <div class="form-group" required>
                    <label for="mensaje">Mensaje:</label>
                    <textarea name="mensaje" ng-model="mensajeInfo.mensaje" class="form-control" id="mensaje" placeholder="Ingrese mensaje"></textarea>
                </div>
                <button type="submit" class="btn btn-info center-block" ng-click="enviarMensaje()">Enviar</button>
            </form>
            <br/>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>