<div class="container-fluid">
<style>
    html, body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
    #ruedappmap {
        float: left;
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
    <leaflet id="ruedappmap" defaults="defaults" height="500px" width="100%"></leaflet>
    <button class="btn btn-default" ng-hide="hideRecorrido" ng-click="iniciarecorrido()">Iniciar recorrido</button>
    <button class="btn btn-default" ng-hide="hideHistorico" ng-click="guardahistorico()">Guardar Hist&oacute;rico</button>
</div>