<div class="container-fluid" ng-init="consultarutas()">
    <div class="row text-center">
        <h1>Recorridos Programados</h1>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Fecha - Hora</th>
            <th>Ruta</th>
            <th>Origen</th>
            <th>Destino</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rutasUsuario">
            <td>{{row.fechaInicio | date:'medium'}}</td>
            <td>{{row.nombre}}</td>
            <td>{{row.ruta.origen.nombre + ' (Lt:' + row.ruta.origen.latitud + ') (Lg:' + row.ruta.origen.longitud + ')' }}</td>
            <td>{{row.ruta.destino.nombre + ' (Lt:' + row.ruta.destino.latitud + ') (Lg:' + row.ruta.destino.longitud + ')'}}</td>
            <td><a href="#/rutagrupal/{{row.id}}">
                Iniciar
            </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>