@import variables.Portabilidad
@import variables.RedesSociales
@import variables.Eficiencia
@(message: String,opcionesMenu: Array[Boolean],redesSociales: RedesSociales, portabilidad: Portabilidad, eficiencia : Eficiencia, opcionesApp: Array[Boolean])
<!DOCTYPE html>

<html lang="en">
    <head>
        <!--This line make if true responsive page-->
        @if(portabilidad.isResponsiveDesign()) {
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        }
        <!--End of the responsive page-->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/ui-bootstrap-csp.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/font-awesome.css")">
        @if(redesSociales.hayRedSocial()) {
            <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/bootstrap-social.css")">
        }
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/leaflet.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/leaflet-routing-machine.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>

        <!--Do don't style this page style the subpages exteded by angular-->
    <body ng-app="ruedapp">
        <nav class="navbar navbar-default navbar-fixed-top" ng-show="loggedIn">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/inicio">Ruedapps</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @if(opcionesMenu(0)) { <li><a href="#/ruta">Rutas</a></li> }
                                @if(opcionesMenu(1)) { <li><a href="#/recorridos">Planear Recorridos</a></li> }
                                @if(opcionesMenu(2)) { <li><a href="#/recorridos/prog">Recorridos Programados</a></li> }
                                @if(opcionesMenu(3)) { <li><a href="#/categorias">Directorio</a></li> }
                                @if(opcionesMenu(4)) { <li><a href="#/ruta/hist">Histórico</a></li> }
                                <li role="separator" class="divider"></li>
                                @if(opcionesMenu(5)) { <li><a href="#/historicoBicicletas">Configurador Bicicletas</a></li> }
                                <li role="separator" class="divider"></li>
                                @if(opcionesMenu(6)) { <li><a href="#/mensaje">Mensajería</a></li> }
                                @if(opcionesMenu(7)) { <li><a href="#/amigos">Mis Amigos</a></li> }
                                @if(opcionesMenu(8)) { <li><a href="#/perfil">Mi Perfil</a></li> }
                                <li role="separator" class="divider"></li>
                                @if(opcionesMenu(9)) { <li><a href="#/reporte/metricas">Reporte Métricas</a></li> }
                                @if(opcionesMenu(10)) { <li><a href="#/reporte/historico">Reporte Histórico</a></li> }
                                @if(opcionesMenu(11)) { <li><a href="#/reporte/rutas">Reporte Rutas</a></li> }
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><button class="btn btn-default" ng-controller="perfilController" ng-click="logout()">
                            Cerrar sesión</button></li>
                    </ul>
                </div>
        </nav>
        <div class="row" id="ruedapps-navbar" ng-hide="loggedIn">
            <div class="pull-left">
                <a class="ruedapps-navbar-item">Brand</a>
            </div>
            <div class="ruedapps-navbar-item pull-right">
                <form class="ruedapps-inline-block" method="get" action="#/login">
                    <button class="btn btn-default">Iniciar Sesión</button>
                </form>

                <form class="ruedapps-inline-block" method="get" action="#/register">
                    <button class="btn btn-default">Registrarse</button>
                </form>
            </div>
        </div>

        <div class="margin-top-navbar" ng-view>


        </div>

            <!--Load angular dependencies-->
        <script src="@routes.Assets.versioned("javascripts/leaflet.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/Control.Geocoder.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/leaflet-routing-machine.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/Base64.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/angular.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/angular-simple-logger.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/angular-route.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/angular-leaflet-directive.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/angular-cookies.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/ui-bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/ui-bootstrap-tpls.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/ng-table.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/Chart.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/angular-chart.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/angular-timer-all.min.js")"></script>

            <!--Bootstrap styling Below-->
        <script src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery-ui.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>

            <!--Load angular App-->
        <script src="@routes.Assets.versioned("frontend/modules/ruedapp.js")"></script>
        <script src="@routes.Assets.versioned("frontend/services/services.js")"></script>
        <script src="@routes.Assets.versioned("frontend/controllers/directorioController.js")"></script>
        <script src="@routes.Assets.versioned("frontend/controllers/inicioController.js")"></script>
        <script src="@routes.Assets.versioned("frontend/controllers/mensajeController.js")"></script>
        <script src="@routes.Assets.versioned("frontend/controllers/perfilController.js")"></script>
        <script src="@routes.Assets.versioned("frontend/controllers/recorridoController.js")"></script>
        <script src="@routes.Assets.versioned("frontend/controllers/configuradorBicicletasController.js")"></script>
        <script src="@routes.Assets.versioned("frontend/controllers/reporteController.js")"></script>
        <script src="@routes.Assets.versioned("frontend/controllers/notificacionesController.js")"></script>
        <script src="@routes.Assets.versioned("frontend/controllers/amigosController.js")"></script>
        <script src="@routes.Assets.versioned("frontend/controllers/manejoPerfilController.js")"></script>


        <!--Variabilidad de redes Sociales-->
        @if(redesSociales.hayRedSocial()) {
            <script src="@routes.Assets.versioned("javascripts/oauth.js")"></script>
            <script src="@routes.Assets.versioned("frontend/factories/factoryRedesSociales.js")"></script>
            <script src="@routes.Assets.versioned("frontend/controllers/perfilOptionalController.js")"></script>
        }else{<script src="@routes.Assets.versioned("frontend/factories/nullFactory.js")"></script>}

        <div ng-controller="variabilidadController" style="display: none">
            <ol>
                <li id="redesSociales.twitter">@redesSociales.getTwitter()</li>
                <li id="redesSociales.facebook">@redesSociales.getFacebook()</li>
                <li id="eficiencia">@eficiencia.isOptimize()</li>

            </ol>
        </div>
            <!--Encargado de la variabilidad-->
        <script src="@routes.Assets.versioned("frontend/controllers/variabilidadController.js")"></script>

        <script>

            (function() {
                var app = angular.module('ruedapp');
                    app.constant('APP_CONFIG',{
                        grupal:@{opcionesApp(0)},
                        amigos:@{opcionesApp(1)},
                        historico:@{opcionesApp(2)},
                        directorio:@{opcionesApp(3)},
                })
            })();

        </script>

    </body>
</html>