@(message: String)

<!DOCTYPE html>

<html lang="en">
    <head>
        <title></title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/ui-bootstrap-csp.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/font-awesome.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/bootstrap-social.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/leaflet.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/leaflet-routing-machine.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    </head>
        <!--Do don't style this page style the subpages exteded by angular-->
    <body ng-app="ruedapp">
        <nav class="navbar navbar-default navbar-fixed-top" ng-show="loggedIn">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/inicio">Ruedapps</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#/ruta">Ruta</a></li>
                                <li><a href="#/recorridos">Planear Recorridos</a></li>
                                <li><a href="#/recorridos/prog">Recorridos Programados</a></li>
                                <li><a href="#/categorias">Directorio</a></li>
                                <li><a href="#/ruta/hist">Histórico</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#/mensaje">Mensajería</a></li>
                                <li><a href="#/perfil">Mi Perfil</a></li>
                                <li><a href="#/amigos">Mis Amigos</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><button class="btn btn-default" ng-controller="perfilController" ng-click="logout()">Logout</button></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row" id="ruedapps-navbar" ng-hide="loggedIn">
            <div class="pull-left">
                <a class="ruedapps-navbar-item">Brand</a>
            </div>
            <div class="ruedapps-navbar-item pull-right">
                <form class="ruedapps-inline-block" method="get" action="#/login">
                    <button class="btn btn-default">Iniciar Sesión</button>
                </form>

                <form class="ruedapps-inline-block" method="get" action="#/register">
                    <button class="btn btn-default">Registrarse</button>
                </form>
            </div>
        </div>

        <div class="margin-top-navbar" ng-view>


        </div>

            <!--Load angular dependencies-->
        <script src="@routes.Assets.versioned("javascripts/leaflet.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/Control.Geocoder.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/leaflet-routing-machine.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/Base64.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/angular.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/angular-simple-logger.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/angular-route.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/angular-leaflet-directive.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/angular-cookies.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/satellizer.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/ui-bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/ui-bootstrap-tpls.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/ng-table.min.js")"></script>

            <!--Bootstrap styling Below-->
        <script src="@routes.Assets.versioned("javascripts/jquery.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/jquery-ui.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>

            <!--Load angular App-->
        <script src="@routes.Assets.versioned("frontend/modules/ruedapp.js")"></script>
        <script src="@routes.Assets.versioned("frontend/controllers/controller.js")"></script>

    </body>
</html>